button {
  border-radius: 5px;
  padding: 5px;
  color: black;
  background-color: #ffab8f;
  border: 0.2px solid black;
  box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 20%);
  font-size: 15px;
}
button.hover {
  cursor: pointer;
}
footer {
  text-align: center;
  font-weight: 1;
}
a {
  text-decoration: none;
  color: #ffab8f;
}
.today-info {
  padding: 20px 50px;
}
.city-state {
  font-size: 50px;
  font-weight: 1;
}
.fa-sun {
  color: #ffab8f;
  font-size: 30px;
}
.fa-cloud-sun {
  color: #ffab8f;
  font-size: 30px;
}
.fa-cloud-sun-rain {
  color: #ffab8f;
  font-size: 30px;
}
.mb-3 {
  width: 70%;
  display: flex;
  margin-left: 105px;
}
.card-text {
  text-align: center;
}
.today {
  font-size: 70px;
  text-align: center;
  font-weight: 1;
}

.card-body {
  text-align: center;
}
.units {
  display: block;
}
